@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(32, 158, 180, 0.657);
    background-image: url('main.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
    display: flex;
    margin: 0;
    padding: 2em 5em;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    width: 40%;
}

aside {
    width: 60%;
}

aside img {
    width: 100em;
    max-width: 100%;
}

.mini_container_1 {
    background-color: rgba(89, 89, 129, 0.247);
    margin-bottom: 2rem;
    padding: 3em;
}

.mini_container_2 {
    display: block;
    background-color: rgba(82, 119, 145, 0.452);
    transition: background-color 0.6s;
    padding: 1.2em;
    margin-bottom: 1em;
}

.logo {
    height: 100%;
    width: 40%;
    display: inline-flex;
}

h1 {
    display: flex;
    font-size: 4.5vw;
    font-weight: 400;
    letter-spacing: 0.5em;
}

.content {
    width: 300px;
}

.contact {
    position: fixed;
    top: 85%;
    left: 93%;
    font-size: 4vw;
    cursor: pointer;
}

.email {
    position: fixed;
    top: 5%;
    left: 93%;
    font-size: 4vw;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    body {
        flex-direction: column-reverse;
        align-items: center;
    }

    main {
        width: 120%;
    }

    h1 {
        font-size: 5.5vw;
    }
    
    .mini_container_1 {
        background-color: transparent;
        text-align: center;
    }

    .logo {
        width: 100%;
    }

    .mini_container_2 {
        display: flex;
        
    }

    .contact {
        position: fixed;
        top: 3%;
        left: 3%;
        font-size: 3vw;
        cursor: pointer;
    }

    .email {
        position: fixed;
        top: 3%;
        left: 93%;
        font-size: 3vw;
        cursor: pointer;
    }
}
